{
    "name": "{{ meta.namespace }}",
    "type": "prometheus",
    "typeLogoUrl": "",
    "access": "direct",
    "url": "{{prometheus_route}}",
    "basicAuth": false,
    "withCredentials": false,
    "jsonData": {
        "tlsSkipVerify":true,
        "token":"{{ sa_grafana_token }}"
    }
}
