{
    "kind": "ConfigMap",
    "apiVersion": "v1",
    "metadata": {
        "name": "jupyterhub-cfg",
        "namespace": "{{ meta.namespace }}",
        "labels": {
            "app": "jupyterhub"
        }
    },
    "data": {
        "jupyterhub_config.py": ""
    }
}
