apiVersion: v1
kind: Secret
metadata:
  name: ceph-rgw-keys
  namespace: "{{ meta.namespace }}"
  labels:
    app: opendatahub
    component: ceph-nano
type: Opaque
data:
  rgw_user_user_key: "{{ s3_access_key }}"
  rgw_user_secret_key: "{{ s3_secret_key }}"
